
.grid{
    display: grid;
    
}


.grid_three_column{

    
    grid-template-columns: repeat(3,1fr);
}

.task_container>div{

    border: 1px solid gray;
    height: 100vh;
}

/* .progress{

    border: 1px solid gray;
    width: auto;
    height: 3rem;
    background-color: lightcoral; 
} */


.task_details_container{

    background-color: coral;
    display: flex;
   
    flex-direction: column;
    justify-content:flex-start ;
   position: relative;
     margin: 1rem;



}

.task_details_container h6{

    position: absolute;
    right: 0;
    bottom: 0;
}

.complete_container{

    background-color: lightcyan;
    display: flex;
   
    flex-direction: column;
    justify-content:flex-start ;
   position: relative;
     margin: 1rem;
}

.complete_container h6{
    position: absolute;
    right: 0;
  
}



.complete{

    border: 1px solid gray;
    width: auto;
    height: 3rem;
    background-color: lightseagreen; 
}




@media (max-width:760px) {
    

    .progress,.complete{

        max-width: 24.4rem;
      
    }


}