/* .todo_container h4{


} */


/* .todo{
    border: 1px solid gray;
    width: auto;
    height: 3rem;
    background-color: aliceblue;
} */




.child_container{
 
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    border: 1px solid gray;
    margin: 1rem;
   

}

.options_container{

   display: flex;
   justify-content: flex-end;
   padding: 1.5rem;
   gap: 1rem;

}


.input_todo{

    width: 21rem;
    height: 3rem;
    margin: 1rem;
    /* border: none;
    outline: none; */
}

::placeholder{


    color: lightgray;
    font-size: 1.5rem;
}



@media (max-width:760px) {
    

    .input_todo{

        max-width: 10rem;
    }


}


.select_input{

    width: 1.5rem;
}