.input_name{


    width: 20rem;
    height: 3rem;

    border: none;
    outline: none;
    font-size: 1rem;
}



.add_users{

 display: flex;
 justify-content: space-around;
 align-items: center;

}


.btn_high,.btn_low{

    height: fit-content;
    background-color: lightblue;
  
    border-radius: 10px;
    padding: 0.5rem;
    font-weight: 700;
    border: 1px solid gray;
    

}